/*
    Document   : Layout
    Created on : 09-11-2011
    Author     : Olga Kasprzyk
    Description: Style sheet for Bio Mart
*/

/*-------- FONT FACE ---------------------------------------------------------*/

/*--@font-face {
    font-family: 'mari';
    src: url('/assets/fonts/mari.eot');
    src: local('mari'),
        local('mari'),
        url('/assets/fonts/mari.woff') format('woff'),
        url('/assets/fonts/mari.otf') format('opentype'),
        url('/assets/fonts/mari.svg#mari') format('svg'); 
    font-weight:400;
}**/

/*-------- FONT FACE END -----------------------------------------------------*/

/*---------------- GENERAL ---------------------------------------------------*/

a {
    text-decoration:none;
    color:inherit;
}

html {
    font-family:calibri, arial, sans-serif;
    margin:0;
    padding:0;
    line-height:15px;
    color:#000;
    font-size:15px;
}

body {
    background:url(../images/body.png) repeat;    
    margin:0;
    padding:0;    
}

#wrapper{
    
    width:960px;
    margin:0 auto;
}

#header{
    position:relative;
    width:100%;
    height:120px;
    margin:0;
}

#logo{
    background:url('../images/logo-large.png') no-repeat scroll 0 0 transparent;
    width:293px;
    height:90px;
    position:absolute;
    top:15px;
    left:183px;
    
}

#header ul{
    box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
float: right;
margin: 0;
padding: 0;
list-style: none;
bottom: 3px;
right: 0px;
position: absolute;
width: auto;
background:url('../images/top-nav.jpg') no-repeat top right transparent;
line-height:50px;

font-family:arial narrow, calibri, 'Didact Gothic', serif;
 -moz-border-radius:0px 25px 0 0;
    -webkit-border-radius:0px 25px 0 0;
    
    border-radius:0px 25px 0 0;
    padding-right:20px;
}

#header ul li{
    display:inline;
    font-size:18px;
    padding:0 20px;
    color:#fff;
    
    font-weight:bold;
}

#header ul li.active {
    color:#e47100;
}

#main-content{
    float:left;
     -moz-border-radius:25px 0px 0 0;
    -webkit-border-radius:25px 0px 0 0;
    border-radius:25px 0px 0 0;
    
    box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    width:960px;
    background:white;
}

#main-content #top{    
    background:url('../images/map4.jpg') no-repeat scroll -1px -1px white;
    height:464px;
    -moz-border-radius:25px 0px 0 0;
    -webkit-border-radius:25px 0px 0 0;
    
    border-radius:25px 0px 0 0;
    position:relative;
}

#main-content #top .overlay{
    background:url('../images/bio-overlay2.png') no-repeat;    
    height:464px;
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
}

#main-content #top #cancer-overlay{
    background:url('../images/cancer-overlay2.png') no-repeat;
    display:none;
}

#main-content #top #download{
    background:url('../images/download2.png') no-repeat transparent;
    width:250px;
    height:47px;
    position: absolute;
right: 0px;
top: 100px;
padding:15px 0px;
}

#main-content #top #download a, #main-content #top #download span{
width: 171px;
float: left;
margin-left: 8px;
font-weight: bold;
}

#main-content #top #download a{
    font-size: 36px;
color: #E57200;
height: auto;
float: left;
line-height: 33px;
margin-bottom: 9px;
margin-top: -2px;
FONT-FAMILY: calibri;
letter-spacing: -2px;
font-weight: bold;
}

#main-content #top .version-number{
    width: 100px !important;
margin-left: 98px !important;
font-family:calibri;
font-size: 16px !important;
color: white;
}

#main-content #top #download span{
    font-size:13px;    
}

#main-content #top .portal-links{
    position: absolute;
font-family: agency fb;
font-size: 25px;
color: white;
letter-spacing: 1px;
background: url('../images/portal-links.png') no-repeat scroll center right;
padding-right: 15px;
}

#main-content #top .portal-links strong{
    color:#e57200;
    font-weight:normal;
}

#main-content #top #bio-link{
    top:300px;
    right:10px;
}

#main-content #top #cancer-link{
    top:340px;
    right:10px;
}

#main-content #left{
    
    width:665px;
    padding:20px;
    float:left;
    font-size:17px;
    line-height:22px;
}

#main-content #left a{
    color:#ff870f;
    background:url('../images/anchor-arrows-yellow.png') no-repeat scroll center left transparent;
    padding-left:15px;    
}

#main-content #right{
    /**background:#182532;**/
    width:255px;
    float:right;  
}

#main-content #footer{
    width: 940px;
float: left;
padding: 10px 0 20px 20px;
font-weight: bold;
font-size: 16px;
}

#main-content #left .heading, #main-content #left .sub-heading{
    margin-bottom:20px;
    float:left;
    width:100%;
    font-size: 30px;
    line-height: 80px;
}

#main-content #left .sub-heading.with-margin{
    margin-top:20px;
}

#main-content #left .heading .yellow-box{
    width: 140px;
height: 62px;
background: url('../images/yellow-box.png') no-repeat;
float: left;
color: white;
margin-right:8px;
text-align: center;

}

#main-content #left .heading .yellow-box.larger{
    width: 155px;
background: url('../images/yellow-box.png') repeat-x;

}

#main-content #left .sub-heading{    
font-size: 25px;
line-height: 50px;
border-bottom: 1px solid #CCC;
}

#left .title{
    font-weight: bold;
letter-spacing: 4px;
font-family: agency fb;
font-size: 18px;
word-spacing: 10px;
color: #333;
}

#left .title.author{
    letter-spacing:2px;
    word-spacing:0;
}

#left ul{
    margin-bottom:50px;
}
#left ul li{
    font-size:15px;
    margin-bottom:10px;
}

/**Accordion**/
ul.menu, ul.menu ul {    
    
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 247px;
  color:#fff;
}

ul.menu{
    padding:0 0 8px 8px;
    margin-top:40px;
}

ul.menu li {
  background:url('../images/accordion-sub-li.jpg') no-repeat;
  width:247px; 
  margin-bottom:10px;
}

ul.menu li a {
  display: block;
text-decoration: none;
background: url('../images/accordion-li.jpg') no-repeat;
height: 50px;
font-size: 20px;
line-height: 48px;
padding-left: 30px;
letter-spacing: 1px;
}

ul.menu li a.active{
    background: url('../images/accordion-li-active.jpg') no-repeat;
}

ul.menu li ul li a{
    height: auto;
background: url('../images/anchor-arrows.png') no-repeat scroll center left transparent;
font-size: 17px;
padding: 0;
letter-spacing: 0;
line-height: 15px;
float: left;
margin-top: 20px;
padding-left: 20px;
width:200px;
}

ul.menu li ul li{
    padding:15px;
    width:217px;
}

ul li ul li p{
    margin:0;
    line-height:20px;
    float:left;
    width:100%;
}

input[type=text]{
    width: 197px;
height: 27px;
background: url('../images/input.png') no-repeat;
border: none;
padding: 0px 10px;
margin-bottom: 10px;
font-size: 14px;
font-family: calibri;
}

textarea{
    width: 197px;
    height: 118px;
    background: url('../images/textarea.png') no-repeat;
    border: none;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: calibri;
}

input[type=submit]{
    margin-bottom:20px;
    width:108px;
    height:33px;
    background: url('../images/button.png') no-repeat;
    font-size:14px;
    color:#fff;
    text-align:center;
    float:right;
    margin-right:-4px;
    border:none;
}

.abstract{
    font-size: 11px;
line-height: 13px;
}

.publication-link{
    margin-bottom:45px;
}

.no-bg{
    background:none !important;
    padding-left:0 !important;
}

.line-height{
    line-height: 15px;
margin-bottom: 10px;
}

p .mailto{
    width: auto !important;
float: left !important;
padding: 0 !important;
margin: 0!important;
background:none !important;
font-weight:bold;
float: none !important;
display: inline !important;
}