
.menuh
{
		color: white;
		font-weight: bold;
		cursor : pointer ;
		border-color: white;
		background-color : black;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 9pt;
		padding: 2px 0px 2px 0px;	
		width:100%;

}
.menu
{
		color: black;
		font-weight: bold;
		cursor : default ;
		background-Color : #FF9900;
		border-color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 9pt;
		padding: 2px 0px 2px 0px;	
		width:100%;
}

.menutable
{
		color: #000000;
		cursor : default ;
		Background-Color : #ECEEF0 ;
		Background-Color : #ECEEF0 ;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 9pt; 	

}

.tablegreen  
{
	background-color: black;
}
.pagetitle
{
	font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-weight: bold; color: black;
}
.tabletop 
{
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt; 	
}
.news_table
{ color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; Background-Color : #FFF8E7; }

.tablehead
	{
	background-color: black;
	}	
.nomenu	{
		color: #000000;
		cursor : default ;
		Background-Color : #ECEEF0 ;
		border-right : 1px solid #ECEEF0 ;
		border-bottom : 1px solid #ECEEF0 ;
		border-top : 1px solid #ECEEF0 ;
		border-left : 1px solid #ECEEF0 ;
		border-collapse: collapse;
		vertical-align: middle;
		horizontal-align: center;
	}




.td_class { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal}
body { background: #ffffff; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; margin: 0px; scrollbar-track-color: #ffffff;  scrollbar-arrow-color: #2A3E56;  scrollbar-darkshadow-color: #ffffff}
.text { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal}
P { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal}
li { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal}
b { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: none}

.whitetext { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal}

.heading        {font-family: Arial, Helvetica, sans-serif; font-size: 13pt; font-weight: normal; color: #2A3E56}
.subheading     {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #2A3E56}
.bold { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: none}
.largewhite { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: normal; text-decoration: none}
.offwhite { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: none}

a:link { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}
a:visited { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}
a:active { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}
a:hover { color: #555555; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}
/*
a.menu:link { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}
a.menu:visited { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}
a.menu:active { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}
a.menu:hover { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
*/
a.noline:link { color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
a.noline:visited { color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
a.noline:active { color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
a.noline:hover { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}

a.large:link { color: #2A3E56; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: none}
a.large:visited { color: #2A3E56; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: none}
a.large:active { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: none}
a.large:hover { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: underline}
.largeover { color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: none}

a.medium:link { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none}
a.medium:visited { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none}
a.medium:active { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none}
a.medium:hover { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}

a.header:link { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: normal; text-decoration: none}
a.header:visited { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: normal; text-decoration: none}
a.header:active { color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: normal; text-decoration: none}
a.header:hover { color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: normal; text-decoration: none}

.tablink { color: #2A3E56; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
a.tablink:link { color: #2A3E56; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
a.tablink:visited { color: #2A3E56; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
a.tablink:active { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}
a.tablink:hover { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}

a.small:link { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
a.small:visited { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
a.small:active { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
a.small:hover { color: #CACFD5; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
.small { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal}


A.small2:link {	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
A.small2:visited {COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
A.small2:active {COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
A.small2:hover {COLOR: #CACFD5; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
.small2 {COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal}

a.small_list:link { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none}
a.small_list:visited { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none}
a.small_list:active { color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none}
a.small_list:hover { color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
.small_list { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none}

.small_bold { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000 ; text-decoration: none}
.smallbold {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #21496b; text-decoration: none}
A.smallboldlink:link  {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #21496b; text-decoration: none}
A.smallboldlink:visited  {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #21496b; text-decoration: none}
A.smallboldlink:active  {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #21496b; text-decoration: none}
A.smallboldlink:hover  {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; text-decoration: none}





a.small_list_underline:link { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
a.small_list_underline:visited { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
a.small_list_underline:active { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none}
a.small_list_underline:hover { color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
.small_list_underline { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}

a.smallwhite2:link { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none}
a.smallwhite2:visited { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none}
a.smallwhite2:active { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none}
a.smallwhite2:hover { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}


.smallwhite { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal}
.vsmall { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 1pt; font-weight: normal}
a.over:link { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
a.over:visited { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
a.over:active { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
a.over:hover { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}

.overmedium { color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none}

.whiteover {color: #dddddd; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}

a.white:link { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
a.white:visited { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
a.white:active { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
a.white:hover { color: #CACFD5; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
.white { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
.pitalic { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; font-style: italic; text-decoration: none}
.pbolditalic { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; font-style: italic; text-decoration: none}
.pbold { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: none}
.psmall { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none}
.psmaller { color: #0000ff; font-family: Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal}
.plarger { color: #2A3E56; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold}
.plarge { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal}

.tablebody { background-color: #CACFD5} 
.tablebodymid { background-color: #dddddd} 
.tablehead_embl { background-color: #1d7d23}

.tableborder { background-color: #ECEEF0}

.helpbody { background-color: #ECEEF0}
.helphead { background-color: #CACFD5}
.horizontalline {font-size: 1px}

.whitetitle     {font-weight: normal; font-size: 14pt; font-family: Arial, Helvetica, sans-serif; text-decoration:none; color: #ffffff}
.green{font-weight: bold; font-size: 9pt; font-family: Arial, Helvetica, sans-serif; text-decoration:none; color: #2A3E56}.plargerbold { font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; text-decoration: none}

.plargebold { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; text-decoration: none}

a.greenboldsmall:link { color: #2A3E56; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: underline}
a.greenboldsmall:visited { color: #2A3E56; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: underline}
a.greenboldsmall:active { color: #2A3E56; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: underline}
a.greenboldsmall:hover { color: #2A3E56; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: none}

li.greenboldsmalllist {color: #2A3E56 }
.greenboldsmall { font-weight: bold; font-size: 9pt; font-family: Arial, Helvetica, sans-serif; text-decoration:none; color: #2A3E56 }

a.pre_anchor:link    { font-family: Courier; font-size: 8pt; font-weight: normal; color: blue ; text-decoration: underline}
a.pre_anchor:visited { font-family: Courier; font-size: 8pt; font-weight: normal; color: purple ; text-decoration: underline}
a.pre_anchor:active  { font-family: Courier; font-size: 8pt; font-weight: normal; color: blue ; text-decoration: underline}
a.pre_anchor:hover   { font-family: Courier; font-size: 8pt; font-weight: normal; color: blue ; text-decoration: underline}
pre {font-family:courier; font-size: 8pt;}
.preformatted {font-family:courier; font-size: 9pt; color:#444466;}
.preformattedbold {font-family:courier;font-weight: bold; font-size: 9pt; color:#444466;}

h1 {color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 13pt; font-weight:   bold}
h2 {color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight:   bold}
h3 {color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold}
h4 {color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold}
h5 {color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal}
h6 {color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal}.smaller { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal ; text-decoration: none}
.small9 { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal }

.pbold_grey_small_nolink { color: #454545; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none}
a.pbold_grey_small:link { color: #454545; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: underline}
a.pbold_grey_small:visited { color: #454545; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: underline}
a.pbold_grey_small:active { color: #454545; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: underline}
a.pbold_grey_small:hover { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none}

.pbold_grey_small2 { color: #454545; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none}
a.pbold_grey_small2:link { color: #454545; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none}
a.pbold_grey_small2:visited { color: #454545; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none}
a.pbold_grey_small2:active { color: #454545; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none}
a.pbold_grey_small2:hover { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: underline}


a.pbold_grey_smaller:link { color: #454545; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
a.pbold_grey_smaller:visited { color: #454545; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
a.pbold_grey_smaller:active { color: #454545; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
a.pbold_grey_smaller:hover { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none}

a.pboldsmaller:link { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none}
a.pboldsmaller:visited { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none}
a.pboldsmaller:active { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none}
a.pboldsmaller:hover { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: underline}

a.plargebold_list:link { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #000000 ; text-decoration: underline}
a.plargebold_list:visited { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #000000 ; text-decoration: underline}
a.plargebold_list:active { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #000000 ; text-decoration: underline}
a.plargebold_list:hover { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: 666666 ; text-decoration: none}

.plargebold_list { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; text-decoration: none}

a.greenboldsmall_list:link { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #2A3E56 ; text-decoration: underline}
a.greenboldsmall_list:visited { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #2A3E56 ; text-decoration: underline}
a.greenboldsmall_list:active { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #2A3E56 ; text-decoration: underline}
a.greenboldsmall_list:hover { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #666666 ; text-decoration: none}
.greenboldsmall_list { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #2A3E56 ; text-decoration: none}

a.pbold_grey :link{ font-weight: bold; font-size: 9pt; font-family: Arial, Helvetica, sans-serif; text-decoration:underline; color: #454545}
a.pbold_grey:hover { font-weight: bold; font-size: 9pt; font-family: Arial, Helvetica, sans-serif; text-decoration:none; color: #454545}
.pbold_grey { font-weight: bold; font-size: 9pt; font-family: Arial, Helvetica, sans-serif; text-decoration:none; color: #454545}
li.pbold_greylist{color: #454545}

a.red_bold:link { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #9e0039 ; text-decoration: underline}
a.red_bold:visited { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #9e0039 ; text-decoration: underline}
a.red_bold:active { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #9e0039 ; text-decoration: underline}
a.red_bold:hover { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #666666 ; text-decoration: none}

.red_bold { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #9e0039 ; text-decoration: none}

a.red_boldsmall:link { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #9e0039 ; text-decoration: underline}
a.red_boldsmall:visited { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #9e0039 ; text-decoration: underline}
a.red_boldsmall:active { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #9e0039 ; text-decoration: underline}
a.red_boldsmall:hover { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #666666 ; text-decoration: none}

.red_boldsmall { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #9e0039 ; text-decoration: none}
a.red_small:link { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #9e0039 ; text-decoration: none}
a.red_small:visited { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #9e0039 ; text-decoration: none}
a.red_small:active { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #9e0039 ; text-decoration: none}
a.red_small:hover { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #666666 ; text-decoration: underline}

.red_small { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #9e0039 ; text-decoration: none}

a.pbold_list:link { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000 ; text-decoration: underline}
a.pbold_list:visited { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000 ; text-decoration: underline}
a.pbold_list:active { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000 ; text-decoration: underline}
a.pbold_list:hover { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #666666 ; text-decoration: none}

.pbold_list { font-weight: bold; font-size: 9pt; font-family: Arial, Helvetica, sans-serif; text-decoration:none; color: #000000 }

.box          {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #2A3E56}

.pboldsmaller { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold ; text-decoration: none}

.plainbox { font-family: Courier New, Courier, mono; font-size: 14px; border-style: solid; border-width: 1 px }

.example1 { font-weight: bold; font-size: 9pt; font-family: Arial, Helvetica, sans-serif; text-decoration:none; color: #000084}
.example2 { font-weight: bold; font-size: 9pt; font-family: Arial, Helvetica, sans-serif; text-decoration:none; color: #630031}
.example3 { font-weight: bold; font-size: 9pt; font-family: Arial, Helvetica, sans-serif; text-decoration:none; color: #840000}

a.redbold_small:link { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #9e0039 ; text-decoration: underline}
a.redbold_small:visited { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #9e0039 ; text-decoration: underline}
a.redbold_small:active { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #9e0039 ; text-decoration: underline}
a.redbold_small:hover { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #9e0039 ; text-decoration: none}
.redbold_small { color: #9e0039; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold }

.pbold_small { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold }

a.whitebold_small:link { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #ffffff ; text-decoration: underline}
a.whitebold_small:visited { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #ffffff ; text-decoration: underline}
a.whitebold_small:active { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #ffffff ; text-decoration: underline}
a.whitebold_small:hover { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #ffffff ; text-decoration: none}
.whitebold_small { color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold }


a.whitebold_small_nounder:link { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #ffffff ; text-decoration: none}
a.whitebold_small_nounder:visited { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #ffffff ; text-decoration: none}
a.whitebold_small_nounder:active { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #ffffff ; text-decoration: none}
a.whitebold_small_nounder:hover { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #ffffff ; text-decoration: underline}

.green_bold { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #006600 ; text-decoration: none}








.pboldjustify { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: none; text-align: justify}
.psmalljustify { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; text-decoration: none; text-align: justify}
.psmallerjustify { color: #0000ff; font-family: Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal; text-align: justify}
.textjustify { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; text-align: justify}
.plargerjustify { color: #2A3E56; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-align: justify}
.plargejustify { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; text-align: justify}


a.noline:link { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
a.noline:visited { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: none}
a.noline:active { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}
a.noline:hover { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; text-decoration: underline}


.annot_th_dark{background-color: #2A3E56;}
.annot_th_mid{background-color: #87A5A5;}
.annot_td_dark{background-color: #EDF3FE;}
.annot_td_mid{background-color: #efefef;}
.annot_bg{background-color: #e9e9e9;}


